/* ------------ header ------------*/

.header{
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  max-width: 77%;
  margin: 0 auto;
}
.logo_inner{
  display: flex;
  vertical-align: middle;
  position: relative;

}
.new_year_hat{
  position: absolute;
  top: -22px;
  left: 16px;
}
.header_tittle{
  margin: auto 20px;
  font-size: 18px;
  font-family: 'ProximaNova_Regular';
  text-transform: uppercase;
  color: black;
}
.header_nav {
  margin: auto 0;
}
.header_nav ul{
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.dialog_contacts{
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.20);
  padding: 40px;
  position: absolute;
  width: max-content;
  transform: translate(-29%, 20px);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.50s;
}
.link_contact:hover .dialog_contacts{
  visibility:visible;
  opacity: 1;
  z-index: 10;
}
.dialog_contacts_tittle{    
  font-size: 24px;
  font-family: 'ProximaNova_Bold';
  text-align: center;
}
.contacts_info_item{  
  font-size: 16px;
  font-family: 'ProximaNova_Regular';

  margin: auto 0;
  display: flex;
  align-items: center;
}
.contacts_info_item:not(:first-child){
  padding-top: 20px;
}
.contacts_info_item img{
  padding-right: 20px;;
}
.dialog_contacts .contacts_info_tittle{
  text-align: center;
  padding: 20px 0;
}
.dialog_contact_btn{
  margin: 20px auto 0;
}
.header_nav_li{
  position: relative;
}

.nav-user-card{
  position: absolute;
  top: 100%;
  right: -20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.20);
  border-radius: 20px;
  color: black;
  font-size: 16px;
  font-family: 'ProximaNova_Regular';
  width: 280px;
  transform-origin: right top;
  transform: scale(0);
  transition: .3s ease-in-out;
  z-index: 2;
}

.header_nav_li:hover .nav-user-card{
  transform: scale(1);
}
.user-card__info{
  display: flex;
}
.user-card__desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  width: max-content;
}
.user-card__info img{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.user-card__name{
  font-family: 'ProximaNova_SemiBold';
  font-size: 18px;
}
.user-card__exit{
  font-family: 'ProximaNova_SemiBold';
  font-size: 14px;
  color: #939EB3;
  transition: .3s ease-in-out;
  width: max-content;
}
.user-card__exit:hover{
  color: #7866F0;
}
.user-card__li a{  
  display: flex;
  align-items: center;
  color: black;
}
.user-card__li:not(:first-child){
  padding-top: 12px;
}
.user-card__list{
  padding-top: 20px;
}
.user-car__list-img{
  transition: 1s ease-in-out;
  padding-right: 10px;
}
.user-card__li:hover .user-car__list-img{
  filter: invert(39%) sepia(80%) saturate(2212%) hue-rotate(228deg) brightness(97%) contrast(94%);
}
.user-card__list ul{
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.user-card__li span{
}










.header_link{
  vertical-align: middle;
  display: flex;
  margin: auto 0;
  align-items: center;
  color: #000;
  font-size: 16px;
  font-family: 'ProximaNova_Regular';
}
.header_nav_li:not(:first-child){
  margin-left: 55px;
}
.header_nav_img{
  margin-right: 10px;
  height: 30px;
}
.phone_svg{
 filter: invert(0%) sepia(0%) saturate(7467%) hue-rotate(224deg) brightness(94%) contrast(107%);
}

.li_nav_authorized-only{
  display: none;
}

.header_nav_authorized .li_nav_authorized-only{
  display: inline;
}
.user__arrow-img{
  transition: .3s ease-in-out;  
  width: 12px;
  height: 12px;
  position: absolute;
  right: -17px;
  transform-origin: center center;
  transform: rotateZ(-90deg);  

  filter: invert(88%) sepia(100%) saturate(0%) hue-rotate(149deg) brightness(105%) contrast(101%);
}

.header_nav_li:hover .user__arrow-img {
  transform: rotateZ(0deg);
  filter: invert(39%) sepia(80%) saturate(2212%) hue-rotate(228deg) brightness(97%) contrast(94%);
}



@media (max-width: 430px) { 
  

  .header{
    max-width: 100%;
    margin: 0px;
    padding: 15px 10px 0;
  }
  .header_tittle{
    font-size: 16px;
    margin: auto 10px;
  }

  .header_nav{
    display: none;
  }
  .header-logo__img{
    width: 30px;
  }
  .new_year_hat{
    position: absolute;
    top: -15px;
    left: 10px;
    width: 30px;
  }
}