.dialog-auth{
    height: 580px;
    background: #fff;
    border-radius: 20px;
    width: 430px;
    overflow: hidden;
    display: none;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 1000;
    transition: 1s ease-in-out;   
}
.close-sign{
    position: absolute;
    top: 20px;
    right: 32px;
}
.dialog-sing-in__container, .dialog-sing-up__container{
    padding: 40px 40px 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease-in-out;
    transform: translateX(-101%);  
}
.dialog-auth_sign-in .dialog-sing-in__container, .dialog-auth_sign-up .dialog-sing-up__container{
    transform: none;
    transform: translateX(0);   
}
.dialog-auth_sign-in{
    height: 460px;
}

.dialog-sing-in__tittle{
    text-align: center;    
    font-size: 24px;
    font-family: 'ProximaNova_Bold';
}
.dialog-sing-in__email, .dialog-sing-in__pass, .dialog-sing-in__conf-pass{
    margin-top:27px;
    position: relative;
}
.sing-in-email__tittle, .sing-in-pass__tittle{
    color: black;
    font-size: 16px;
    font-family: 'ProximaNova_Regular';
}
.sign-in__input{
    border-radius: 15px;
    background-color: #EAEAEA;
    border: 0;
    height: 50px;
    width: 350px;
    max-width: 350px;
    padding-left: 10px;
    
    font-size: 16px;
    font-family: 'ProximaNova_Regular';
    margin-top: 10px;
}

.sign-in__check-pass, .sign-up__check-pass{
    width: 25px;
    height: 25px;
    background-image: url("/files/images/other/eye_off.svg");
    filter: invert(65%) sepia(48%) saturate(964%) hue-rotate(201deg) brightness(90%) contrast(108%);
    background-size: cover; 
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 43px;
}
.sign-in__check-pass_active, .sign-up__check-pass_active{
    background-image: url("/files/images/other/eye.svg");
}
.sing-in-email__error,.sing-in-pass__error, .sing-up-conf-pass__error, .sing-up-pass__error, .sing-up-email__error{
    padding-top: 5px;
    font-size: 15px;
    font-family: 'ProximaNova_Regular';
    color: #cc0000b9;
}
.sing-in-pass__tittle{
    display: flex;
    justify-content: space-between;
}
.sign-in-pass-tittle__forgot-pass{
    color: #9F9F9F;
}
.dialog-sing-in__btn-sign-in, .dialog-sing-up__btn-sign-up{
    color: white;
    background: #7866F0;
    width: 200px;
    padding: 15px 0;
    border: 0;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'ProximaNova_Regular';
    margin: 30px auto;
}
.sing-in-create__tittle{
    color: #9F9F9F;
    font-size: 16px;
    font-family: 'ProximaNova_Regular';
}
.sing-in__link{
    color: #7866F0;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 999;
}

.dialog-sign-opened .overlay{
    display: block;
}
.dialog-sign-opened .dialog-auth{
    display: flex;
}




