main{
  margin: 35px 12%;
}
.item-tittle{
  display: flex;
  justify-content: space-between;
}
.item-tittle__tittle{
  font-family: 'ProximaNova_SemiBold';
  font-size: 32px;
  max-width: 750px;
}
.item-tittle__go-back{  
  font-family: 'ProximaNova_Regular';
  font-size: 16px;
  vertical-align: middle;
  max-width: max-content;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
}
.item-tittle__arrow{
  transform: rotateY(180deg);
  width: 16px;
  height: 16px;
  padding-left: 10px;
}
.item-description{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}


/* Slider */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

  cursor: pointer;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-description__slider{
  min-width: 200px; 
  max-width: 890px;
  height: 845px;

}
.swiper{
  max-width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.mySwiper2 {
  height: 652px;
  display: flex;
  border-radius: 35px;
}
.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  margin: 10px;
}
.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.7;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper .swiper-slide img {
  border-radius: 20px;
}
.mySwiper2 .swiper-slide img {
  border-radius: 35px;
}

/* Slider card */
.contacts_info{
  max-width: 315px;
  min-width: 240px;
  
  height: 600px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 2px solid #E0E0E0;
  border-radius: 20px;
  margin-left: 25px;
}
.contacts_info_price{
  font-family: 'ProximaNova_SemiBold';
  font-size: 32px;
  background: #F5F6F8;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}
.contacts_info__btn-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts_info__btn-container_mobile{
  display: none;
}
.common_button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7866F0;
  color: white;
  border-radius: 15px;
  border: 0;
  padding: 15px 0px;
  border: 3px solid #7866F0;
  font-size: 16px;
  width: 100%;

  transition: .3s;
  cursor: pointer;
}
.common_button img{
  transition: .3s;
  padding-right: 10px;
  width: 18px;
}
.favourite-btn{
  color: #7866F0;
  background-color: white;
}

/* Item desc */
.item-text img{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  min-width: 100px;
  height: 100%;
  max-height: 500px;
  min-height: 100px;
  object-fit: contain;
  margin-top: 20px;
}
.item-text__tittle, .item-properties__tittle{
  font-size: 32px;
  font-family: 'ProximaNova_SemiBold';
  padding-top: 50px;
}
.item-text__desc, .item-properties__desc{
  font-size: 20px;
  font-family: 'ProximaNova_Regular';
  line-height: normal;  
  padding-top: 15px;
}
.item-properties__desc li:not(:first-child){
  margin-top: 5px;
}


/* ------------ Product ------------*/
.product{
  margin:  0;
}
.product_list{
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin-top: 60px;
}
.product_item{
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(21, 11, 50, 0.13);
  overflow: hidden;
}
.product_item:not(:last-child){
  margin-right: 35px;
}

.product_item_img{
  position: relative;
}
.product_item_img_cont{
  box-shadow: 0px 4px 20px 0px rgba(21, 11, 50, 0.13);
  width: 100%;
}
.product_item_img_tofavourite{
  position: absolute;
  top: 20px;
  right: 20px;
}
.product_item_desc{
  margin: 20px;
  font-size: 16px;
  font-family: 'ProximaNova_SemiBold';

  color: #000;
}
.product_item_desc p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.product_item_price{
  display: flex;
  font-size: 24px;
  font-family: 'ProximaNova_Bold';

  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
.product_item_btn{
  background: #7866F0;
  padding: 15px 25px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-family: 'ProximaNova_Regular';

  text-wrap: nowrap;

  transition: 0.5s;
  position: relative;
  z-index: 2;

}
.product_item_btn::before{
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;

  outline: 4px solid #7866F0;

  padding: -15 -25px;
  border-radius: 10px;
  z-index: 1;
  transition: 0.5s;

}
.product_item_btn:hover::before{

  top: -3px;
  right: -3px;
  left: -3px;
  bottom: -3px;
}






@media (max-width: 430px) { 
  main{
    margin: 15px 10px;
  }
  .item-tittle__go-back{
    display: none;
  }
  .item-tittle__tittle{
    font-size: 18px;
  }

  .item-description{
    flex-direction: column;
  }
  
  .swiper{
    height: 70px;
  }
  .mySwiper2 {
    height: 250px;
  }
  .mySwiper2 .swiper-slide img {
    border-radius: 20px;
  }
  .item-description__slider {
    height: auto;
  }
  .contacts_info_price {
    font-size: 22px;
    background: linear-gradient(80deg, #F5F6F8 0%, #ECF2FF 100%);
  }
  .contacts_info {
    max-width: max-content;
    min-width: 240px;
    height: auto;
    padding: 0px;
    outline: none;    
    border-radius: 20px;
    margin-left: 0px;
  }
  .contacts_info__btn-container{
    display: none;
  }
  .contacts_info__btn-container_mobile{
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .common_button img {
    transition: .3s;
    padding-right: 10px;
    width: 15px;
  }

  .common_button {
    border-radius: 10px;
    padding: 13px 0px;
    font-size: 14px;
  }
  .contacts_info_desc{
    margin-top: 20px;
  }
  .contacts_info_item:not(:first-child) {
    padding-top: 10px;
  }
  .contacts_info__call-btn{
    margin-top: 20px;
  }

  .item-text__tittle, .item-properties__tittle {
    font-size: 18px;
    padding-top: 20px;
  }
  .item-text__desc, .item-properties__desc {
    font-size: 14px;
    padding-top: 10px;
  }
  .item-text img {
    width: 66%;
  }
}