.main-content{
    padding-top: 35px;
    max-width: 77%;
    margin: 0 auto;
}
.main-content__list-of-sections{
    display: flex;
}
.list-elem{
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    font-family: 'ProximaNova_Regular';
    text-wrap: nowrap;
    transition: 0.5s ease;

}
.list-elem:hover{
    /* background: linear-gradient(90deg, #8270f70c 0%, #5c4ace15 100%); */
    background-color: #8270f71a;
}

.main-content__sections{
    margin-top: 25px;
    
}
.main-content__section{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.section-profile__card{
    background: linear-gradient(224deg, #ECF2FF 0%, #F5F6F8 100%);
    flex: 1 0 0;
    padding: 25px;
    overflow: hidden;
    border-radius: 20px;
}
.section-card-history__items, .section-card-favourite__items{
    text-wrap: nowrap;
    margin-top: 20px;
    margin-left: 20px;
}

.user_pic_section, .section-card-history__items img, .section-card-favourite__items img{
    border-radius: 50%;
    width: 60px;
    object-fit: contain;
}   



.section-card-profile__button-exit, .section-card-profile__change-data{
    display: none;
}





/* slider */
.top-bar__navigation{
    max-width: max-content;    
}
.top-bar__navigation ul{
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}
.top-bar__navigation ul li{
    text-align: center;
    list-style: none;
    z-index: 2;    
}
.top-bar__navigation ul li.selected a {
    color: #fff;
}
.top-bar__navigation ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding: 15px 0px;
    display: block;
    transition: .75s;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;
    font-family: 'ProximaNova_Regular';
}

.slider{
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0px;
    background: linear-gradient(90deg, #8270f7 0%, #5B4ACE 100%);

    border-radius: 10px;
    z-index: 1;
    transition: 0.5s ease;
}
.profile-content{
    display: none;
}











.section-card-product__item:not(:first-child){
    /* margin-left: -20px; */
}
.section-card-history__items img, .section-card-favourite__items img{
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    object-fit: cover;
    margin-left: -20px;
}

.section-card-profile__info{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.section-card-profile__desc{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.section-card-profile__user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-card-profile__name{
    font-family: 'ProximaNova_SemiBold';
    font-size: 18px;
}

.section-card-profile__phone{
    font-size: 18px;
}
.section-card-profile__button{
    font-family: 'ProximaNova_SemiBold';
    font-size: 14px;
    color: #939EB3;
}
.section-card-history__tittle, .section-card-favourite__tittle{
    font-family: 'ProximaNova_SemiBold';
    font-size: 18px;
}
.section-card-history__desc, .section-card-favourite__desc{
    font-size: 18px;
    padding-top: 15px;
}

.section-card-profile__buttons{
    display: flex;
    justify-content: space-between;
}
.section-history, .section-favourite{
    display: block;
}

.user-info__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.section-user-info__user-img{
    display: flex;
}
.user-info-img__img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.user-info-img__buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.user-info-img__btn-load{
    width: 200px;
    border-radius: 15px;
    background: linear-gradient(90deg, #8270f7 0%, #5B4ACE 100%);
    color: white;
    padding: 15px 22px;
    text-align: center;
}
.user-info-img__btn-delete{
    width: 200px;
    border-radius: 15px;
    color: black;
    padding: 15px 22px;
    text-align: center;
    background: linear-gradient(224deg, #ECF2FF 0%, #F5F6F8 100%);
}
.section-user-info__personal-data{
    display: grid;
    width: max-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.personal-data__input{
    background: #eaeaea;
    height: 50px;
    width: 275px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 15px;
    
}
.section-user-info__apply-changes{
    width: 200px;
    border-radius: 15px;
    background: linear-gradient(90deg, #8270f7 0%, #5B4ACE 100%);
    color: white;
    padding: 15px 22px;
    text-align: center;
}



#image-preview{
    width: max-content;
}

.cr-boundary{
    border-radius: 20px;
    overflow: hidden;
}

.text-file{
    width: 200px;
    border-radius: 15px;
    background-color: #7866F0;
    color: white;
    padding: 15px 22px;
    text-align: center;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 99;
}  
.dialog-photo_opened .overlay{
    display: block;
}

.dialog-photo_opened .dialog-photo{
    background-color: white;
    z-index: 10000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.dialog-photo-container{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#crop-btn{    
    width: 200px;
    border-radius: 15px;
    background-color: #7866F0;
    color: white;
    padding: 15px 22px;
    text-align: center;
}

.close-sign-photo{
    position: absolute;
    top: 20px;
    right: 20px;
}
.dialog-photo__tittle{    
    font-size: 24px;
    font-family: 'ProximaNova_Bold';
}
.dialog-photo__desc{
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 16px;
    font-family: 'ProximaNova_Regular';    
    max-width: 330px;
}







.section-cart{
    width: 100%;
}
.section-cart__container{
    width: 100%;
}


.section-cart__take-order{
    display: flex;
    justify-content: space-between;
    width:100%;
    gap: 70px;
}
.section-cart__order{
    flex: 7;

}
.section-cart__confirm-order{
    flex: 3;
}

.section-cart__check-all{
    display: flex;
    gap: 7px;
    font-size: 16px;
    font-family: 'ProximaNova_Regular';   
    border-bottom: 1px solid #E0E0E0; 
    padding-bottom: 10px;
}

.section-cart__product{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.section-cart__product:not(:nth-child(1)){
    margin-top: 30px;
}
.section-cart_product-card{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.section-cart_product-card-desc{
    display: flex;
}
.section-cart_product-image{
    margin-left: 20px;
}
.section-cart_product-image img{
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
    object-fit:cover;
    border-radius: 20px;
}
.section-cart_product-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
    margin-left: 20px;
}
.section-cart_product-desc-top{
    max-width: 335px;
}
.section-cart_product-desc-down{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-cart_product-desc-buttons{
    display: flex;
    gap: 30px;
}

.section-cart_product-count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    
    font-size: 20px;
    font-family: 'ProximaNova_Regular';   
}
.section-cart_product-price{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;

    font-size: 32px;
    font-family: 'ProximaNova_SemiBold';   
    flex-wrap: nowrap;
}
.section-cart_product-desc-code{
    color: #9E9E9E;
}
.section-cart_product-desc-to-fav, .section-cart_product-desc-delete{
    color: #7866F0; 
}
.section-cart__confirm-total{
    display: flex;
    justify-content: space-between;
}
.section-cart__confirm-total-tittle, .section-cart__confirm-total-cost{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-family: 'ProximaNova_SemiBold';   
}
.section-cart__confirm-total-cost{
    border-radius: 17px;
    background: linear-gradient(224deg, #ECF2FF 0%, #F5F6F8 100%);
    padding: 10px 28px;
    text-align: center
}
.order-adres__tittle, .order-payment__tittle{
    font-size: 24px;
    font-family: 'ProximaNova_SemiBold';  
    padding-top: 20px;
}

.order-adres__location, .order-payment__method{
    font-size: 16px;
    font-family: 'ProximaNova_Regular'; 
    padding-top: 7px;
    color: #7866F0; 
}
.section-cart__confirm-btn{
    width: 100%;
    font-size: 16px;    
    font-family: 'ProximaNova_SemiBold'; 
    background-color: #7866F0; 
    background: linear-gradient(90deg, #8270f7 0%, #5B4ACE 100%);

    color: white;
    padding: 15px 0;
    text-align: center;
    border-radius: 15px;
    margin-top: 20px;
}
.section-cart__confirm-order{
    display: flex;
    flex-direction: column;
}

.section-cart__adres{
    margin-top: 100px;
}
.section-cart__contact-data{
    margin-top: 50px;
}
.section-cart__tittle{
    margin-bottom: 50px;
}

.personal-data__input-block{
    width: max-content;
}
.personal-data__input-text{
    display: flex;
    justify-content: space-between;
}
.personal-data-input-text__alert{
    display: none;
    gap: 5px;
    color: #FF2424;
}

.personal-data__input-adres{
    width: 600px;
}
.radio-btn {
	opacity: 0;
	visibility: hidden;
}

.list__item{
    display: flex;
    align-items: center; 
}
.cart-call-method {
    flex-grow: 1; /* Заменяем flex: 1; на flex-grow: 1; */
    padding: 10px 0;
    color: #000;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    display: flex;
    max-width: 75%;
}

.cart-call-method::before {
    content: "";
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    margin-right: 15px;
    background-color: #E7E7E7;
    border-radius: 50%;
    outline: 5px solid #E7E7E7;
    transition: all 0.25s linear;
    margin-top: 5px;

}

.radio-btn:checked + .cart-call-method::before {
    background-color: #7866F0;
}

.comment-cart{
  margin-top: 10px;
  height: 50px;
  border-radius: 15px;
  background-color: #EAEAEA;
  border: 0;
  padding-left: 10px;
  min-width: 300px;
  width: 600px;
  max-width: 100%;
  min-height: 100px;
  height: 170px;
  max-height: 500px;
  font-size: 16px;
}

.section-card__message{
    display: flex;
    flex-direction: column;
}
.section-card-history__message{
    display: flex;
}
.section-card-history__message_alternative{
    display: none;
}
.section-message__tittle{
    font-family: 'ProximaNova_SemiBold';
    font-size: 48px;
    margin-top: 50px;
}
.section-message__desc{
    font-family: 'ProximaNova_Regular';
    margin-top: 10px;
    font-size: 20px;
}
.section-message__btn{
    font-family: 'ProximaNova_SemiBold';
    font-size: 16px;
    background: linear-gradient(90deg, #8270f7 0%, #5B4ACE 100%);
    padding: 15px 75px;
    text-align: center;
    max-width: fit-content;
    border-radius: 15px;
    color: white;
    margin-top: 15px;
}