.open_dialog_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    color: black;
    border-radius: 15px;
    border: 0;
    padding: 15px 50px;
    font-size: 16px;
    /* overflow: hidden; */

    position: relative;
}
.open_dialog_btn::after, .open_dialog_btn::before{
    content: 'END';
    position: absolute;
    height: 100%;
    max-width: 100%;
    bottom:calc(-100%);
    opacity: 0;
    text-align: right;
    transition: 1s;    
    background-color: red;

    padding-right: 10px;
    right: 10px;
}
.open_dialog_btn::before{
    content: 'THE';
    text-align: left;
    bottom:calc(100%);
    z-index: 12;
    left: 10px;
}
.open_dialog_btn:hover::after{
    transform: translateY(calc(-100%));
    opacity: .5;
}
.open_dialog_btn:hover::before{
    transform: translateY(calc(100%));
    opacity: .5;
}

.burger-button{
    background-color: black;
    color: orange;
    padding: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 1);
    color: orange;
    overflow: hidden;
    transition: .1s;
    border-radius: 10px;
}

.burger-button::before{
    content: '';
    position: absolute;
    z-index: 10;
    background-color: rgb(238, 238, 238);
    height: 179%;
    top: -25px;
    left: -25px;
    width: 6px;
    transition: .6s ease-in-out;
    transform:  translateX(-12px) rotate(45deg);
    filter: blur(13px)
}
.burger-button:hover::before{
    background-color: rgb(255, 255, 255);
    transform:  translateX(200px) rotate(45deg);
}





.burger-button:active{
    box-shadow: 0px 0px 20px 10px rgba(106, 63, 235, 1);
    transform: translateY(1px);
}
.burger-panel{
    position: relative;
    height: 100vh;
    width: 50%;
    background-color:rgba(255, 0, 0, 0.4);
    position: fixed;
    top: 0;    

    transition: transform 1s ease-in-out;
    transform: translateX(-101%);    
}
.burger-panel__close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: aqua;
    padding: 15px;
}
.burger-panel_is-active{
    transform: none;
    transform: translateX(50%);    
}